/* 

*** KOMMENTAR-SYNTAX ***

Kommentarer som ser ut såhär:   / *
                                  * XXX
                                  * /

Betyder att följande css stylear an ny html sida.

Kommentarer som ser ut såhär: / * XXX * /

Betyder att följande css stylear en ny sektion/element på samma sida som
senaste av den förra ovanstående kommentaren.

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&display=swap');


/* Base Structure */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
}

img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

a {
    color: white;
    text-decoration: none;
}

.gridWrapper {
    display: grid;
    width: 100%;
    grid-template-rows: 100vh;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay-tint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.overlay-tint * {
    z-index: 2;
}

.section-grid-50 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-grid-30 {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
}

.section-white {
    background-color: #fff;
    color: #000;
    padding: 2em;
}

.section-green {
    background-color: #54fd21;
    padding: 2em;
}

.section-pink {
    background-color: #FD2155;
    padding: 2em;
}

.btn-gradient {
    position: relative;
    display: inline-block;
    padding: 1em 1.75em;
    background: linear-gradient(to right, rgba(39, 70, 229, 0.6) 0%, rgba(112, 21, 146, 0.7) 100%);
    color: white;
    border-radius: 1.5em;
    transition: all 0.5s linear;
    overflow: hidden;
}

.btn-outline {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.1em;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 1.5em;
    transition: all 0.5s linear;
    overflow: hidden;
}

.circle-fill span {
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: white;
    transition: width 1s ease, height 1s ease;
    z-index: -1;
}

.circle-fill:hover span {
    width: 500px;
    height: 500px;
}

.circle-fill:hover {
    background: linear-gradient(to right, rgba(39, 70, 229, 1) 0%, rgba(112, 21, 146, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*  *** Mobile ***  */

/* 768px / 16px = 48em */
@media screen and (max-width: 48em) {

}


/*  *** Desktop ***  */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 0 10%;

    display: flex;
    align-items: center;

    color: white;

    transition: background-color 0.5s ease;
    z-index: 100;
}

nav .nav-items {
    height: 100%;
    margin-left: auto;
    gap: 1.5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1em;
    font-weight: 700;

    list-style: none;
    text-align: center;
}

nav .nav-items a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.5s ease;
}

nav .nav-items a:hover {
    color: #2746e5;
}

nav.scrolled {
    background-color: rgba(36, 36, 48, 0.8);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/*
 * Home Page
 */

/* Landing Page */

.landing-page {
    position: relative;
    background-image: url("../img/landing-page.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    text-align: center;
    /* background: linear-gradient(to right, rgba(39, 70, 229, 0.6) 0%, rgba(112, 21, 146, 0.7) 100%); */
}

.landing-page header {
    max-width: 60ch;
}

.landing-page header h1 {
    font-weight: 300;
    font-size: 2.75em;
    margin-bottom: 0.1em;
}

.landing-page header h1 .word {
    display: inline-block;
    line-height: 1em;
}


.landing-page header p {
    font-weight: 400;
    margin-bottom: 2.25em;
}

.landing-btn {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.wave {
    position: absolute;
    width: 100%;
    height: 129px;
    left: 0;
    bottom: 0;
    background: url("../img/wave.png");
    animation: wave 10s linear infinite;
}

.wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 129px;
    left: 0;
    bottom: 10px;
    background: url("../img/wave.png");
    opacity: 0.4;
    animation: wave-reverse 10s linear infinite;
}

.wave::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 129px;
    left: 0;
    bottom: 20px;
    background: url("../img/wave.png");
    opacity: 0.6;
    animation-delay: -5s;
    animation: wave 20s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1280px;
    }
}

@keyframes wave-reverse {
    0% {
        background-position: 1280px;
    }
    100% {
        background-position: 0;
    }
}

